@import "../assets/scss/util";

.content {
  padding: rem(10);
  text-align: center;
  @media (min-width: rem(500)) {
    text-align: right;
  }

  img {
    width: 100%;
    @media (min-width: rem(500)) {
      width: 60%;
    }
  }

  p {
    margin: rem(5);
  }
}

.bmc {
  margin-top: rem(20);
  display: block;
}
