@import "../assets/scss/util";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

*{
  font-family: 'Quicksand', sans-serif;
  white-space: pre-wrap;
  color:$ice;
}

a{
  color:$ice;
  transition: all .2s ease-in-out;
  &:hover{
    color:$wings;
  }
}

h1,h2,h3,h4,h5{
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  margin: 0;
}

body {
  margin: 0;
  background-color: $kronner;
  font-size: rem(16);
}
