@import "../assets/scss/util";

.header {
  position: relative;
  z-index: 99;
  border-top: 2px solid $wings;
  @media (min-width: rem(500)) {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.headerGrid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  @media (min-width: rem(500)) {
    grid-template-columns: rem(200) max-content;
  }
}

.logo {
  background: rgba(19,19,19, 0.8);
  padding: rem(20);
  align-self: center;
  border-bottom-right-radius: 0;
  @media (min-width: rem(500)) {
    border-bottom-right-radius: 18%;
  }
  img {
    width: 40%;
    display: block;
    margin: 0 auto;
    @media (min-width: rem(500)) {
      width: 100%;
    }
  }
}

.navigation {
  background: rgba(19,19,19, 0.8);
  margin: 0;
  padding: 0 rem(20);
  display: grid;
  grid-auto-flow: column;
  grid-gap: rem(10);
}

.navigationItem {
  list-style-type: none;
  align-items: center;
  margin: 0;
  color: $ice;
}

.navigationItem a {
  color: currentColor;
  padding: rem(20) rem(10);
  display: block;

  &:hover {
    background-color: rgba(255,255,255,0.1);
  }
}
